.Overlay {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    padding: 1rem;
    font-family: monospace;
}

.POV {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95vw;
    z-index: -998;
    border: 2px solid #000000;
    background-color: #989fff;
    font-size: 70px;
    font-weight: bold;
    color: #000000;
    margin: 0 auto;
}

.TextBox {
    position: absolute;
    bottom: 4%;
    left: 3%;
    z-index: 10;
    height: 60px;
    width: 45%;
    color: black;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 1rem;
}

.ActionBtn {
    position: absolute;
    bottom: 7%;
    right: 8%;
    z-index: 100;
    height: 50px;
    width: 70px;
    padding: 0.5rem 0.5rem;
    color: black;
    background-color: #f1f1f1;
    border: 3px solid #000000;
    box-shadow: -5px 7px 0 #000000;
    border-radius: 1rem;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

.ActionBtnIcon {
    font-size: 3rem;
    margin-top: -15px;
}
.ActionMenu {
    position: absolute;
    bottom: 7%;
    right: 7%;
    z-index: 11;
    height: 200px;
    width: 110px;
    color: black;
    text-align: left;
    padding: 1rem;
    background-color: #f1f1f1;
    border: 3px solid #000000;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -5px 7px 0 #000000;
}

.ActionItems {
    margin: 0.3rem 0;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

.Open {
    background-color: rgb(23, 50, 23);
}

.Close {
    background-color: rgb(255, 70, 70);
}

@media screen and (max-width: 600px) and (min-width: 0px) {

    .ActionBtn {
        position: absolute;
        bottom: 0;
        right: -1rem;
        height: 50px;
        width: 60px;
    }
    .POV {
        justify-content: flex-start;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
}

    .Overlay {
        height: 100vh;
        padding: 0;
    }
}
