.GameConatiner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    padding: 1rem;

}

.POV {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95vw;
    padding: 0;
    z-index: -1;
    border: 2px solid #000000;
    background-color: #989fff;
    border-radius: 1rem;
    font-size: 70px;
    font-weight: bold;
    color: #000000;
}

.TextBox {
    position: absolute;
    bottom: 4%;
    left: 3%;
    z-index: 10;
    height: 60px;
    width: 45%;
    color: black;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 1rem;
}

.NotePad {
    position: absolute;
    bottom: 4%;
    right: 3%;
    z-index: 11;
    height: 300px;
    width: 120px;
    color: black;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 1rem;
}
