.GameConatiner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    padding: 1rem;

}

.POV {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95vw;
    padding: 0;
    z-index: -1;
    border: 2px solid #000000;
    background-color: #989fff;
    border-radius: 1rem;
    font-size: 70px;
    font-weight: bold;
    color: #000000;
}

.TextBox {
    position: absolute;
    bottom: 4%;
    left: 3%;
    z-index: 10;
    height: 60px;
    width: 45%;
    color: black;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 1rem;
}

.ActionBtn {
    position: absolute;
    bottom: 4%;
    right: 3%;
    z-index: 11;
    height: 50px;
    width: 70px;
    color: black;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 1rem;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;

}

.ActionMenu {
    position: absolute;
    bottom: 4%;
    right: 3%;
    z-index: 11;
    height: 200px;
    width: 110px;
    color: black;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ActionItems {
    margin: 0.3rem 0;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    background-color: rgb(255, 84, 84);
    color: white;
}