#root {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.AppContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 0;
}

.App {
  text-align: center;
  width: 99vw;
}

.title {
  font-size: 2.2rem;
  color: #ffffff;
}

.MenuBtn {
  position: absolute;
  top: 5%;
  right: 3%;
  background-color: #ff4747;
  color: #ffffff;
  border: 2px solid #000000;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  margin: 1rem;
  z-index: 10;
}

.popupParent {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.popup {

  height: 80%;
  width: 80%;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 1.5rem;
  z-index: 100;
  opacity: 100%;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.startBtn {
  background-color: #ff4747;
  color: #ffffff;
  border: 2px solid #000000;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  margin-top: 3rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@media screen and (max-width: 600px) and (min-width: 0px) {
  .AppContainer {
    height: 90vh;
  }

  .popupParent {
    position: absolute;
    top: 0;
    left: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    width: 112%;
    height: 113%;
    z-index: 999;
    overflow: hidden;
  }

  .App {
    text-align: center;
    width: 99vw;
    height: 99vh;
  }

  .popup {
    padding: 1rem;
    justify-content: space-between;
  }

  .startBtn {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  .MenuBtn {
    top: 1.1rem;
    right: -1rem;
  }
}